/* Overwrite Browser Default CSS */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    --primary-color: 210, 210, 210;
    --secondary-color: 100, 100, 100;
    --theme-color: 255, 60, 120;
    --bg-color: rgba(13, 13, 13, 1);
    --transition-speed-1: 350ms;
    --transition-speed-2: 500ms;
}
:root {
    font-size: calc(8px + (16 - 10) * ((100vw - 320px) / (1360 - 320)));
}

/* Text Sizing */
h1 { font-size: 2.5rem;  }
h2 { font-size: 2rem;    }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem;  }
h5 { font-size: 1.25rem; }
h5 { font-size: 1rem;    }
p  { font-size: 1rem;    }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0.5rem 0;
}


/* Listing */
ul { list-style: none; }

/* General CSS */
html, body, header, footer { width: 100%; }

/* HTML CSS */
html { 
    font-size: 16px;
    font-family: 'Product Sans', sans-serif; 
    letter-spacing: 1px;
    line-height: 1.4; 
    color: rgba(var(--secondary-color), 1); 
    background-color: var(--bg-color);
    scroll-behavior: smooth;  
}

/* Scrollbar CSS */
body::-webkit-scrollbar       { width: 0.25rem; }                /*  the entire scrollbar. */
body::-webkit-scrollbar-track { background: rgba(13, 13, 13, 1); } /* the track (progress bar) of the scrollbar */
body::-webkit-scrollbar-thumb { background: var(--grey-white); } /* the draggable scrolling handle. */

/* Header & Footer Container CSS */
header, footer {
    position: fixed;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}
header { top: 0; }
footer { bottom: 0; }

.container {
    width: 88vw;
}

/* Header & Footer CSS */
header nav, footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 0.875rem;
    z-index: 1;
}

/* Menu Button CSS */
header .menu {
    border: 2px solid rgba(var(--secondary-color), 1);
    transition: var(--transition-speed-2);
}
header .menu:hover {
    cursor: pointer;
    border: 2px solid rgba(var(--primary-color), 1);
}
header .menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.25rem;
}
.bar1, .bar2, .bar3 {
    width: 100%;
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: rgba(var(--primary-color), 1);
    transition: var(--transition-speed-1);
}
.toggle .bar1 {
    transform: rotatez(45deg) translate(0px, 0.313rem);
    width:60%;
}
.toggle .bar2 {
    transform: rotatez(-45deg);
}
.toggle .bar3 {
    position: relative;
    float: right;
    transform: rotatez(45deg) translate(0px, -0.313rem);
    width:60%;
}

/* Dropdown CSS */
#active p{
    color: rgba(var(--primary-color), 1);
}
header .dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    float: right;
    height: 0;
    width: calc(10rem + 1.25rem);
    overflow: hidden;
    text-align: center;
    transition: var(--transition-speed-1);
}
header.toggle .dropdown {
    height: calc(3.75rem * 6);
}
header .dropdown a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.75rem;
    z-index: 99;
}
header .dropdown p {
    font-weight: 700;
    color: rgba(var(--secondary-color), 0.8);
    transition: var(--transition-speed-2);
}
header .dropdown a:hover > p, #active:hover p {
    color: rgba(var(--theme-color), 1);
    transform: translateX(-1.25rem);
}

/* Footer CSS */
footer nav {
    margin: 0.5rem 0;
}
footer .copyright {
    user-select: none;
}
footer .social {
    display: flex;
    gap: 3.75rem;
}
footer .social p {
    display: block;
    position: relative;
}
footer .social ion-icon {
    display: none;
    position: relative;
}
footer .social p:after {
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    top: 1.25rem;
    content: "";
    background-color: rgba(var(--theme-color), 1);
    transition: var(--transition-speed-1);
}
footer .social p:hover:after {
    width: 100%;
}

@media screen and (max-width: 680px) {
    footer .social p {
        display: none;
    }
    footer .social ion-icon {
        display: block;
        font-size: 1.25rem;
    }
}

/* Ionic Icons CSS */
ion-icon { font-size: 1rem; }

/* Link Class CSS */
.link { 
    text-decoration: none; 
    color: rgba(var(--secondary-color), 1); 
    transition: var(--transition-speed-1); 
}
.link:hover { 
    color: rgba(var(--primary-color), 1); 
}